<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{>navbar}}
			</div>
		</div>
	</div>
</section>

<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<h1>Buy & Sell a Service Near You </h1>
					<p>Join the millions who buy and sell their Services from each other <br> everyday in local
						communities around the world</p>
					<div class="short-popular-category-list text-center">
						<h2>Popular Category</h2>
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href=""><i class="fa fa-bed"></i> Electricians</a></li>
							<li class="list-inline-item">
								<a href=""><i class="fa fa-grav"></i> Masons</a>
							</li>
							<li class="list-inline-item">
								<a href=""><i class="fa fa-car"></i> Mechanics</a>
							</li>
							<li class="list-inline-item">
								<a href=""><i class="fa fa-cutlery"></i> Plumbers</a>
							</li>
							<li class="list-inline-item">
								<a href=""><i class="fa fa-coffee"></i> Interior designers</a>
							</li>
						</ul>
					</div>

				</div>
				<!-- Advance Search -->
				<div class="advance-search">
					<form action="#">
						<div class="row">
							<!-- Store Search -->
							<div class="col-lg-6 col-md-12">
								<div class="block d-flex">
									<input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="search"
										placeholder="Search for store">
									<!-- Search Button -->
									<button class="btn btn-main">SEARCH</button>
								</div>
							</div>
						</div>
					</form>

				</div>

			</div>
		</div>
	</div>
	<!-- Container End -->
</section>

<!--===================================
=            Client Slider            =
====================================-->


<!--===========================================
=            Popular deals section            =
============================================-->

<section class="popular-deals section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>Trending Service Providers</h2>
					{{!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, magnam.</p> --}}
				</div>
			</div>
		</div>
		<div class="row">
			<!-- offer 01 -->
			<div class="col-sm-12 col-lg-4">
				<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<!-- <div class="price">$200</div> -->
							<a href="">
								<img class="card-img-top img-fluid" src="images/products/istockphoto-490048372-612x612.jpg"
									style="height:250px; " alt="Card image cap">
							</a>
						</div>
						<div class="card-body">
							<h4 class="card-title">
								<div class="row">
									<div class="col-md-6">
										<a href="#"><i class="fa fa-user"> Elijah</i></a>
									</div>
									<div class="col-md-6">
										<a href=""><i class="fa fa-car">Mechanic</i></a>
									</div>
								</div>
							</h4>
							<ul class="list-inline product-meta">
								<li class="list-inline-item">
									<a href=""><i class="fa fa-map-marker"></i>Ngara</a>
								</li>
								<li class="list-inline-item">
									<a href=""><i class="fa fa-calendar"></i>26th December</a>
								</li>
							</ul>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo,
								aliquam!</p>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="product-ratings">
										<ul class="list-inline">
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
										</ul>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<button class="ui inverted green button" onclick="showModal()">Send Request</button>
								</div>
							</div>
						</div>
					</div>
				</div>



			</div>
			<div class="col-sm-12 col-lg-4">
				<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<!-- <div class="price">$200</div> -->
							<a href="" id="content">
								<img class="card-img-top img-fluid" src="images/products/download (1).jpeg"
									style="height:250px; " alt="Card image cap">
							</a>
						</div>
						<div class="card-body">
							<h4 class="card-title">
								<div class="row">
									<div class="col-md-6">
										<a href="#"><i class="fa fa-user"> Njuguna</i></a>
									</div>
									<div class="col-md-6">
										<a href=""><i class="fa fa-pied-piper-alt">Mason</i></a>
									</div>
								</div>
							</h4>
							<ul class="list-inline product-meta">
								<li class="list-inline-item">
									<a href=""><i class="fa fa-map-marker"></i>Westlands</a>
								</li>
								<li class="list-inline-item">
									<a href=""><i class="fa fa-calendar"></i>26th December</a>
								</li>
							</ul>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo,
								aliquam!</p>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="product-ratings">
										<ul class="list-inline">
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
										</ul>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<button class="ui inverted green button" onclick="showModal()">Send Request</button>
								</div>
							</div>
						</div>
					</div>
				</div>



			</div>
			<div class="col-sm-12 col-lg-4">
				<!-- product card -->
				<div class="product-item bg-light">
					<div class="card">
						<div class="thumb-content">
							<!-- <div class="price">$200</div> -->
							<a href="">
								<img class="card-img-top img-fluid" src="images/products/plumber-pics-139406-9766111.png"
									style="height:250px; " alt="Card image cap">
							</a>
						</div>
						<div class="card-body">
							<h4 class="card-title">
								<div class="row">
									<div class="col-md-6">
										<a href="#"><i class="fa fa-user"> Rashi collins</i></a>
									</div>
									<div class="col-md-6">
										<a href=""><i class="fa fa-pied-piper-alt">Plumber</i></a>
									</div>
								</div>
							</h4>
							<ul class="list-inline product-meta">
								<li class="list-inline-item">
									<a href=""><i class="fa fa-map-marker"></i>Westlands</a>
								</li>
								<li class="list-inline-item">
									<a href=""></a>
								</li>
							</ul>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo,
								aliquam!</p>
							<div class="row">
								<div class="col-md-6 col-sm-6">
									<div class="product-ratings">
										<ul class="list-inline">
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
										</ul>
									</div>
								</div>
								<div class="col-md-6 col-sm-6">
									<button class="ui inverted green button" onclick="showModal()">Send Request</button>
								</div>
							</div>

						</div>
					</div>
				</div>



			</div>


		</div>
	</div>
</section>



<!--==========================================
=            All Category Section            =
===========================================-->

<section class=" section">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section title -->
				<div class="section-title">
					<h2>All Categories</h2>
				</div>
				<div class="row">
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="fa fa-laptop icon-bg-1"></i>
								<h4>Plumbers</h4>
							</div>
							<ul class="category-list">
								<li><a href="category.html">Nairobi <span>93</span></a></li>
								<li><a href="category.html">Mombasa <span>233</span></a></li>
								<li><a href="category.html">Voi <span>183</span></a></li>
								<li><a href="category.html">Kilifi <span>343</span></a></li>
								<li><a href="category.html">Nakuru <span>343</span></a></li>
								<li><a href="category.html">Eldoret <span>343</span></a></li>
								<li><a href="category.html">Kisumu <span>343</span></a></li>
								<li><a href="category.html">Kiambuu <span>343</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="fa fa-bolt icon-bg-1"></i>
								<h4>Electriciansrs</h4>
							</div>
							<ul class="category-list">
								<li><a href="category.html">Nairobi <span>93</span></a></li>
								<li><a href="category.html">Mombasa <span>233</span></a></li>
								<li><a href="category.html">Voi <span>183</span></a></li>
								<li><a href="category.html">Kilifi <span>343</span></a></li>
								<li><a href="category.html">Nakuru <span>343</span></a></li>
								<li><a href="category.html">Eldoret <span>343</span></a></li>
								<li><a href="category.html">Kisumu <span>343</span></a></li>
								<li><a href="category.html">Kiambuu <span>343</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="fa fa-laptop icon-bg-1"></i>
								<h4>Welding</h4>
							</div>
							<ul class="category-list">
								<li><a href="category.html">Nairobi <span>93</span></a></li>
								<li><a href="category.html">Mombasa <span>233</span></a></li>
								<li><a href="category.html">Voi <span>183</span></a></li>
								<li><a href="category.html">Kilifi <span>343</span></a></li>
								<li><a href="category.html">Nakuru <span>343</span></a></li>
								<li><a href="category.html">Eldoret <span>343</span></a></li>
								<li><a href="category.html">Kisumu <span>343</span></a></li>
								<li><a href="category.html">Kiambuu <span>343</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->
					<!-- Category list -->
					<div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
						<div class="category-block">
							<div class="header">
								<i class="fa fa-paint-brush icon-bg-1"></i>
								<i class="fa fa-paint-brush"></i>
								<h4>Painting</h4>
							</div>
							<ul class="category-list">
								<li><a href="category.html">Nairobi <span>93</span></a></li>
								<li><a href="category.html">Mombasa <span>233</span></a></li>
								<li><a href="category.html">Voi <span>183</span></a></li>
								<li><a href="category.html">Kilifi <span>343</span></a></li>
								<li><a href="category.html">Nakuru <span>343</span></a></li>
								<li><a href="category.html">Eldoret <span>343</span></a></li>
								<li><a href="category.html">Kisumu <span>343</span></a></li>
								<li><a href="category.html">Kiambuu <span>343</span></a></li>
							</ul>
						</div>
					</div> <!-- /Category List -->






				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>




{{!-- footer --}}
{{>footer}}
{{!-- end footer --}}

{{!-- lanch modal --}}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Fill in the details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1">+254</span>
						</div>
						<input type="text" class="form-control" placeholder="70553...." aria-label="phone number"
							aria-describedby="basic-addon1">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="ui inverted primary button">Send</button>
			</div>
		</div>
	</div>
</div>